{%extends "layout.html"%}
{%block content%}

    <div class="home">
        <h1 style="font-size: 25px; color: rgb(150, 71, 224); text-align: center;">
            Welcome to DMANTZ Technologies private limited<br>

        </h1>

        <p style="text-align: center;">
            This is a test information website
        </p>

        <a href = "https://dmantz.com/" title="Click here" target="_blank">Official website <br><br>
            <img src="dmantz.jpg" alt = "Dmantz" style =    >
        </a> 
    </div>

{%endblock content%}