{%extends "layout.html"%}
{%block content%}
    <div class="about">
        <h1 style="font-size: 15px; color: rgb(219, 34, 34);">
            Welcome to DMANTZ Technologies private limited about page
        </h1>
        <p style="padding: 20px; margin-right: 50pc; text-align: justify;">
            <strong style="color: rgb(212, 20, 212); font-size: 28px;">Services Providing:</strong> <br><br> 1. WEB UI 
            <br>2. Enterprise Services <br>3. Databases <br>4. Mobile Apps <br>5. BI Analytics 
            <br>6. Dev OPS <br>7. Cloud Tech <br> <abbr title="Internet of things"> 8. IoT </abbr><br>
            9. Machine Learning <br><!--For double quotes-->
            <cite>Thanks</cite> <br><br>
            <q>Click on bellow link to mail</q>  
        </p>
    </div>
{%endblock content%}
